@use './flex-layout.scss';
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: auto;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
a {
  text-decoration: none;
  color: $theme1_a_color;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

$directions: (
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right',
);

$dimensions: (
  'p': 'padding',
  'm': 'margin',
);

@each $dim in $dimensions {
  @each $dir in $directions {
    @for $i from 1 through 10 {
      $size: $i * 5;
      .#{list.nth($dim,1)}-#{list.nth($dir,1)}-#{$size} {
        #{list.nth($dim,2)}-#{list.nth($dir,2)}: #{$size}px;
      }
    }
  }
}

@each $dim in $dimensions {
  @for $i from 1 through 10 {
    $size: $i * 5;
    .#{list.nth($dim,1)}-#{$size} {
      #{list.nth($dim,2)}: #{$size}px #{$size}px #{$size}px #{$size}px;
    }
  }
}

.h-100p {
  height: 100% !important;
}
.w-100p {
  width: 100% !important;
}
.of-h {
  overflow: hidden !important;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.f-xx {
  font-size: $font-xx;
}
.f-x {
  font-size: $font-x;
}
.f-s {
  font-size: $font-s;
}
.f-m {
  font-size: $font-m;
}
.f-b {
  font-size: $font-b;
}
.f-l {
  font-size: $font-l;
}

.f-hs {
  font-size: $font-hs;
  font-family: 'DIN';
}
.f-hm {
  font-size: $font-hm;
}
.f-hb {
  font-size: $font-hb;
}
.f-hl {
  font-size: $font-hl;
}

.f-ds {
  font-size: $font-ds;
}
.f-dm {
  font-size: $font-dm;
}
.f-db {
  font-size: $font-db;
}
.f-dl {
  font-size: $font-dl;
}

.t-l {
  text-align: left !important;
}
.t-c {
  text-align: center !important;
}
.t-r {
  text-align: right !important;
}
.t-small {
  color: #bab8b8;
}

// 字体粗细
.t-bold {
  font-weight: bold;
}
.t-bolder {
  font-weight: bolder;
}
.t-lighter {
  font-weight: lighter;
}
.pointer {
  cursor: pointer;
}

.transparent {
  background: transparent !important;
}

.font-init {
  font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft JhengHei', 华文细黑, STHeiti, MingLiu;
}

